.pokemon-list {
    list-style: none;
    padding: 0;
}

.pokemon-list-item {
    padding: 0px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.pokemon-list-item:hover {
    background-color: #f0f0f0;
}
